//
// Font Weight Variables
//
$fontweight-normal: 400!default;
$fontweight-bolder: 900!default;
$fontsm : 16px;
//
// Background Color Variables
//
$bg-footer :#1D1C35!default;
//
// Color Variables
//
$primary:#4461D7 !default;
$secondary: #1D1C35 !default;
$white: #ffffff!default;
//
//
// Button Color
//
$primary-color:#6e56b0!default;
$btn-primary:#6e56b0!default;
$btn-secondary:#352956!default;